uploads/

# ignore log files and databases
db
*.log
*.sql
*.sqlite
.env

**/.DS_Store
.DS_Store


**/*disabled

**/*.bak
**/*.zip
**/*.gz
**/*.tar
**/*.rar
**/*.7z
**/*.tgz
**/*.bz2
**/*.iso
**/*.dmg
**/*.bin
**/*.exe
**/*.msi
**/*.apk
**/*.ipa
**/*.deb
**/*.rpm

wflogs/
backup/
./vendor/
docker-compose.prod.yml