ECR_REPOSITORY := xyz
IMAGE_NAME := "123.dkr.ecr.us-east-2.amazonaws.com/$(ECR_REPOSITORY)"
K8S_NAMESPACE_DEV := abc
K8S_DEPLOYMENT_DEV := xyz
K8S_NAMESPACE_PROD := abc
K8S_DEPLOYMENT_PROD := xyz
PROFILE := 'dev'

ifeq ($(PROFILE),'dev')
	K8S_NAMESPACE := $(K8S_NAMESPACE_DEV)
	K8S_DEPLOYMENT := $(K8S_DEPLOYMENT_DEV)
else
	K8S_NAMESPACE := $(K8S_NAMESPACE_PROD)
	K8S_DEPLOYMENT := $(K8S_DEPLOYMENT_PROD)
endif